@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.hidden {
  display: none;
}

* {
  font-family: "Ubuntu", sans-serif;
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  width: 70%;
  margin: 50px auto;
}

.title {
  font-family: "Ubuntu", sans-serif;
}

.user-wrapper {
  margin-top: 30px;
}

.user-search {
  width: 39%;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 3px 1px grey;
  padding-left: 15px;
  font-size: 15px;
  background-color: #f1f1f2;
}

.user-search::placeholder {
  color: #787879;
}

.second-title {
  font-size: 17px;
  margin-top: 30px;
}

.second-title span {
  color: #ff3b5c;
}

.coins-wrapper {
  width: 20%;
  column-gap: 100px;
  row-gap: 35px;
  margin-left: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.head-item img {
  width: 35px;
  height: 35px;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8 {
  width: 200px;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  box-shadow: 0px 0px 3px 1px rgb(189, 187, 187);
}

.bottom-item {
  width: 100%;
  text-align: center;
}
.bottom-item p {
  text-align: center;
  font-weight: 500;
  color: #919191;
}

.head-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-item h6 {
  font-size: 19px;
  font-weight: 500;
  margin-left: 7px;
}

.bottom {
  width: 70%;

  margin: 30px auto;
}

.payment-item img {
  width: 25px;
  margin-left: 9px;
}

.visa {
  width: 36px !important;
  margin-left: 20px;
}

.payment-item {
  display: flex;
  align-items: center;
}

.payment-item h5,
.total {
  font-weight: 400;
  font-size: 15px;
}

.pyp {
  width: 19px !important;
}

.payment-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.recharge-btn {
  width: 200px;
  height: 40px;
  background-color: #ff3b5c;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
}

.button-wrapper {
  margin-top: 15px;
}

.custom-input {
  width: 90px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(189, 187, 187);
  font-size: 17px;
}

.active-border {
  box-shadow: 0px 0px 3px 1px #fbd449;
}

.success {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 43, 43, 0.242);
}

.success-item {
  position: relative;
  width: 600px;
  border-radius: 8px;
  height: 450px;
  position: absolute;
  top: 250px;
  left: 300px;
  background-color: rgb(255, 255, 255);
}

.success-animation {
  margin: 15px auto;
}

.checkmark {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #ffffff;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
  position: relative;
  top: 5px;
  right: 5px;
  margin: 0 auto;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #ffffff;
  fill: #75a278;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #4bb71b;
  }
}

.completed-item {
  margin: 20px auto;
  width: fit-content;
}

.pyp-item {
  width: 50px;
  padding: 8px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 3px 1px rgb(206, 204, 204);
}

.pyp-wrapper {
  margin: 0 auto;
  width: fit-content;
}

.ok-tbn-wrapper {
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: fit-content;
}

.ok-btn {
  width: 50px;
  height: 35px;
  border: none;
  background-color: #ff3b5c;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}

.paymentmethod-item {
  margin: 5px auto;
  width: fit-content;
  font-weight: 400;
}

.p-item {
  width: 90%;
  margin: 25px auto;
  font-size: 16px;
  letter-spacing: 0.1ch;
  font-weight: 500;
}

.pp-item {
  width: 90%;
  margin: 15px auto;
  font-size: 16px;
  letter-spacing: 0.1ch;
  font-weight: 500;
}
